---
import ModeStub from "@/components/mode-stub.astro";
export const prerender = true
---

<div class="p-4 w-full flex justify-between">
    <h1>PPSC Crab Bot</h1>
    <div>
        <a href="/login">Login</a>
    </div>
    <ModeStub />
</div>
